# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Ignore Python bytecode files
__pycache__/

# Ignore the Banking-case.sql file
Banking-case.sql

# Ignore virtual environment directories
venv/   

# Ignore log files
*.log   

# Ignore environment variable files     
.env